<div class='mt-16 sm:mt-24'>
  <div
    class='p-4 rounded-xl bg-gray-100 ring-1 ring-gray-200 lg:rounded-xl'>
    <img
      src='/screenshot.png'
      alt='App screenshot'
      width='2168'
      height='1792'
      class='rounded-md'
    />
  </div>
</div>
